.formHeading {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.attendenceHeading {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 42px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  width: fit-content;
  margin-inline: auto;
  padding: 1rem 3rem;
}
